.section{
    background-color:#083B4C ;
}
.color-text-white{
    color: white;
}
.col-7{
    width: calc(100% / 7);
}
.square{
    width: 100%;
    aspect-ratio: 1/1;
}
.bg-blue{
    background-color: blue;
}
.bg-green{
    background-color: green;
}
.bg-yellow{
    background-color: yellow;
}
.bg-red{
    background-color: red;
}